.about-us-container {
  width: 100%;
}

.about-us-heading {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-us-description {
  font-size: 1.536rem;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .about-us-description {
    font-size: 1.4rem;
  }
  .about-us-content {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .about-us-description {
    margin-bottom: 20px;
  }
  .about-us-content {
    margin-bottom: 10px;
  }
}
